body{
  background-color: #455f40ad;
}
h1 {
  color: #06a74e;
}
div.column {
  position: sticky;
  background-color: #455f40ad;
}
div.is-one-third {
  padding-top: 22px;
  position: -webkit-sticky;
  position: sticky;
  z-index: 1;
  top: 0;
  left: 0;
  background-color: #455f40ad;
  background-image: url('/src/assets/background.png');
  background-repeat: repeat;
  background-position: right;
}
a:hover{
  color: lime;
}
a:visited {
  color: green;
}
a {
  color: rgb(48, 83, 6);
}
img{
  border-radius: 5%;
}
img:hover {
  box-shadow: 0 0 2px 1px rgba(1, 188, 57, 0.76);
}
figure{
  margin-block-start: .5em;
  margin-block-end: .5em;
  margin-inline-start: .5em;
  margin-inline-end: .5em;
  overflow: hidden;
  max-height: 600px;
  max-width: 450px;
}
.columns.is-gapless:last-child {
  margin-bottom: 0;
}