body{
  background-color: #455f40ad;
  overflow-x: hidden
}
h1 {
  color: #06a74e;
}
div.column {
  background-color: #455f40ad;
}
div.is-one-third {
  padding-top: 2em;
  position: fixed;
  z-index: 0;
  top: 0;
  left: 0;
  background-color: #455f40ad;
}
a:hover{
  color: lime;
}
a:visited {
  color: green;
}
a {
  color: rgb(48, 83, 6);
}
img{
  border-radius: 5%;
}
/* img:hover {
} */
figure{
  overflow: hidden;
  max-height: 600px;
  max-width: 450px;
}
.columns.is-one-third {
  margin-bottom: 0;
  background-color: #455f40ad;
  background-image: url('/src/assets/background.png');
  background-repeat: repeat;
}
.columns:last-child {
  margin-bottom: 0 !important;
  background-color: #455f40;
  background-image: url('/src/assets/background.png');
  background-repeat: repeat;
}
.columns:not(.is-desktop) {
  display: flex;
  flex-direction: column;
  align-items: self-end; 
}